@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;  


body {
  font-family: 'Courier Prime', 'Courier New', monospace;
}
